{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <p>Menu</p>
    </div>
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active menu-active menu-link" href="#" data-content-url="{% url 'formations' %}">Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  menu-link" href="#" data-content-url="{% url 'competences' %}">Compétences</a>
            </li><li class="nav-item">
                <a class="nav-link menu-link" href="#" data-content-url="{% url 'exp_professionnelles' %}">Expériences Professionnelles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="#" data-content-url="{% url 'langues' %}">Langues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="#" data-content-url="{% url 'password_change' %}">Sécurité</a>
            </li>

        </ul>
    </div>
    <div id="content-area">
        <!-- Le contenu sera chargé ici -->
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const navLinks = document.querySelectorAll('.menu-link');

    function loadContent(url) {
        fetch(url)
            .then(response => response.text())
            .then(data => {
                document.getElementById('content-area').innerHTML = data;
                // Initialiser les composants Bootstrap après le chargement du contenu
                const modals = document.querySelectorAll('.modal');
                modals.forEach(modal => {
                    $(modal).modal('handleUpdate');
                });
            })
            .catch(error => console.error('Error:', error));
    }

    const defaultContentUrl = "{% url 'formations' %}";
    loadContent(defaultContentUrl);

    const defaultActiveLink = document.querySelector('.menu-active');
    if (defaultActiveLink) {
        defaultActiveLink.classList.add('black-background');
    }

    navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            navLinks.forEach(l => l.classList.remove('black-background'));
            this.classList.add('black-background');
            const contentUrl = this.getAttribute('data-content-url');
            loadContent(contentUrl);
        });
    });
});

</script>

{% endblock content %}
