{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
      <a href="{% url 'menu' %}" style="font-size:20px">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
                Retour au Menu
            </a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p align="center" class="text-primary" style="font-size:25px;">Changez votre mot de passe !</p>
            <form method="post" action="{% url 'password_change' %}" class="mt-5">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" >Changer</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
